.logo {
  color: var(--logo-color);
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  &__part {
    color: var(--accent-color);
  }
}
