.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    margin-bottom: 30px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
  &--color-gray {
    background-color: var(--primary-background-color);
  }
}
