body {
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
}

.peculiarities,
.team {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
