:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --button-hover-color: #188ce8;
  --header-border-color: #ececec;
  --works-item-border-color: #eeeeee;
  --logo-clients-color: #afb1b8;
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}
